<!--<ion-tabs class="tabs-icon-top foot" ng-click="addTo($event)">-->
    <!--<a>-->
        <!--<ion-tab-->
                <!--icon="ion-home"-->
                <!--ng-click="jump('dgfStart')"-->
                <!--title="主页">-->

        <!--</ion-tab>-->
    <!--</a>-->
    <!--<a>-->
        <!--<ion-tab-->
                <!--title="商品"-->
                <!--ng-click="jump('dgfMain')"-->
                <!--icon="ion-star">-->
        <!--</ion-tab>-->
    <!--</a>-->
    <!--<a>-->
        <!--<ion-tab-->
                <!--title="购物车"-->
                <!--ng-click="jump('dgfMyCart')"-->
                <!--icon="ion-bag" >-->
        <!--</ion-tab>-->
    <!--</a>-->
    <!--<ion-tab-->
                <!--icon="ion-person"-->
                <!--ng-click="jump('dgfMyOrder')"-->
                <!--title="个人中心"></ion-tab>-->


        <!--<ion-tab-->
                <!--ng-click="jump('dgfSetting')"-->

                <!--icon="ion-gear-a"-->

                <!--title="设置"></ion-tab>-->

<!--</ion-tabs>-->

    <div class="tabs tab-box tabs-color-assertive" ng-click="addTo($event)">
        <a class="tab-item" ng-click="jump('dgfStart')">
            <i class="icon ion-home"></i>
            Test
        </a>
        <a class="tab-item" ng-click="jump('dgfMain')">
            <i class="icon ion-star"></i>
            Favorites
        </a>
        <a class="tab-item" ng-click="jump('dgfMyCart')">
            <i class="icon ion-bag"></i>
            Settings
        </a>
        <a class="tab-item" ng-click="jump('dgfMyOrder')">
            <i class="icon ion-document-text"></i>
            Settings
        </a>
        <a class="tab-item" ng-click="jump('dgfSetting')">
            <i class="icon ion-person"></i>
            Settings
        </a>
    </div>


